In [9]:
import pandas as pd

try:
    # Cargar el archivo CSV
    df = pd.read_csv("productos_tp.csv")
except FileNotFoundError:
    print("Error: El archivo 'productos_tp.csv' no existe en el directorio actual.")
except pd.errors.EmptyDataError:
    print("Error: El archivo 'productos_tp.csv' está vacío.")
except pd.errors.ParserError:
    print("Error: No se pudo parsear el archivo 'productos_tp.csv'. Verifica el formato del archivo.")
else:
    # Mostrar las primeras 10 filas del dataset
    print("# Primeras 10 filas del dataset:")
    print(df.head(10))

    # Mostrar información general sobre el dataset
    print("\n# Información general sobre el dataset:")
    print(f"Filas: {df.shape[0]}")
    print(f"Columnas: {df.shape[1]}")
    print(df.info())

    # Mostrar los tipos de datos de cada columna
    print("\n# Tipos de datos de cada columna:")
    print(df.dtypes)

# Primeras 10 filas del dataset:
   ID   Nombre del Producto   Categoría  Precio Unitario  Cantidad Vendida  \
0   1             iPhone 14  Smartphone           999.99                 5
1   2         Galaxy Tab S8      Tablet           699.99                 3
2   3           MacBook Air      Laptop          1299.99                 2
3   4           AirPods Pro  Accesorios           249.99                10
4   5       Sony WH-1000XM5       Audio           349.99                 4
5   6             iPhone 13  Smartphone           799.99                 6
6   7       Xiaomi Mi Pad 6      Tablet           499.99                 8
7   8           Dell XPS 13      Laptop          1499.99                 1
8   9  Apple Watch Series 8  Accesorios           399.99                 7
9  10  Bose QuietComfort 45       Audio           329.99                 5

  Fecha de Venta Sucursal
0     2023-01-01    Norte
1     2023-01-05      Sur
2     2023-01-10     Este
3     2023-01-15    Oeste
4     2023-01-20   Centro
5     2023-02-01    Norte
6     2023-02-10      Sur
7     2023-02-15     Este
8     2023-02-20    Oeste
9     2023-02-25   Centro

# Información general sobre el dataset:
Filas: 50
Columnas: 7
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   50 non-null     int64
 1   Nombre del Producto  50 non-null     object
 2   Categoría            50 non-null     object
 3   Precio Unitario      50 non-null     float64
 4   Cantidad Vendida     50 non-null     int64
 5   Fecha de Venta       50 non-null     object
 6   Sucursal             50 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ KB
None

# Tipos de datos de cada columna:
ID                       int64
Nombre del Producto     object
Categoría               object
Precio Unitario        float64
Cantidad Vendida         int64
Fecha de Venta          object
Sucursal                object
dtype: object